################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.DS_Store
/Output
bin
obj
.idea
*.DotSettings.user
Crystal.Shared.Components.sln.DotSettings.user
