################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Crystal.Core.Shared/bin/Debug
/Crystal.Core.Shared/obj
/Crystal.XamForms.Shared/obj
/Crystal.XamForms.Shared/bin
*.DS_Store
/Output
/Crystal.Abstraction/obj
/Crystal.EntityFramework/obj
/Crystal.Shared/obj
/Crystal.Abstraction/bin/Debug/netstandard2.1
/Crystal.Abstraction/bin/Debug/netstandard2.1
/Crystal.Shared/bin/Debug/netstandard2.1
/Crystal.EntityFrameworkCore/bin/Debug/netstandard2.1
/Crystal.EntityFrameworkCore/obj
